.wrapper{
    margin: 0px auto;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}
header {
    position: fixed;
    top: 0px;
    background-color: #0093d4;
    color: #fff;
    padding: 15px 0px;
    width: 100%;
    z-index: 99;
}
.mt-20{
    margin-top: 20px;
}
.btn{
    border-radius: 50px;
}
.fakeloader img{
    background-size: cover;
    height: 100%;
    width: 100%;
    vertical-align: top;
    position: fixed;
    bottom: 10%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.bg-cover {
    background: url(../images/blur-bg-web.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
.form-control {
    border-radius: 2px;
}
.red-col{
    color: #d3484e;
}
.blue-col{
    color: #0d3a61;
}
a{
    color: #0093d4;
}
.contain{
    margin: 0px auto;
    position: relative;
    padding-top: 60px;
}

.logo-area {
    padding: 100px 0px 80px;
}
.logo-area img {
    width: 142px;
    margin: 0px auto;
    display: block;
}
.input-group-text {
    border-radius: 2px !important;
    background-color: #fff;
    border-color: #fff;
}
.login-form .form-control, .forgot-form .form-control, .register-form .form-control{
    border-color: #fff;
    border-radius: 2px;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #fff;
    outline: 0;
    box-shadow: 0px 0 5px 1px rgba(49, 49, 49, 0.5);
}
.btn.btn-primary {
    background-color: #0d3a61;
    border-color: #0d3a61;
    font-weight: bold;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus, .btn.btn-primary:hover, .btn.btn-primary:focus{
    color: #fff;
    background-color: #0192d3;
    border-color: #0192d3;
    box-shadow: 0px 0 5px 1px rgba(49, 49, 49, 0.5);
}
.link {
    font-weight: 600;
    font-size: 14px;
}
label.label {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    margin: 0px;
}
a.btn.btn-social {
    background-color: #fff;
    display: block;
    color: #495057;
    font-weight: bold;
    padding: 4px 12px;
    border-radius: 2px;
}
.btn.btn-social.btn-fb{
    color: #3c5898;
    box-shadow: 0px 0 5px 1px rgba(49, 49, 49, 0.5);
}
.btn.btn-social.btn-fb:hover {
    color: #fff;
    background-color: #3c5898;
}
.btn.btn-social.btn-gg{
    color: #d3484e;
    box-shadow: 0px 0 5px 1px rgba(49, 49, 49, 0.5);
}
.btn.btn-social.btn-gg:hover {
    color: #fff;
    background-color: #d3484e;
}
.btn.btn-social .fab{
    font-weight: normal;
    padding-right: 10px;
}
.link span {
    font-weight: bold;
}
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 15px;
    margin-bottom: 0px;
}
.checkbox label::before {
    font-family: FontAwesome;
    content: "\f096";
    font-size: 22px;
    line-height: 24px;
    display: inline-block;
    position: absolute;
    left: 0;
    margin-left: -10px;
    outline: 0px;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 22px;
    line-height: 24px;
    margin-left: -14px;
    padding-left: 3px;
    padding-top: 0px;
    color: #0d3a61;
    outline: 0px;
}
.checkbox input[type="checkbox"] {
    opacity: 0;
}
.checkbox input[type="checkbox"]:focus + label::before {
    outline: 0;
}
.checkbox input[type="checkbox"]:checked + label::after {
    font-family:FontAwesome;
    content: "\f14a";
}
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}
.checkbox.checkbox-inline {
    margin-top: 0;
}
.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
    display: none;
}
header{
    background-color: #0093d4;
    color: #fff;
    padding: 15px 0px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.inner-contain {
    padding: 20px 0px;
}
header a{
    color: #fff;
}
header a:hover{
    color: #f1f1f1;
}
header a i {
    font-size: 22px !important;
}
.main-title {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
}
.btn-fixed-btn {
    position: fixed;
    z-index: 998;
    right: 35px;
    bottom: 35px;
    margin-bottom: 0;
    background-color: #0d3a61;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}
.btn-fixed-btn:hover {
    color: #f1f1f1;
}
.list-area ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.list-area li.box-list .car-detail-box {
    display: block;
    padding: 15px;
}

.list-area li.box-list .car-detail-box:hover {
    text-decoration: none;
}
.list-area li.box-list .car-detail-box .drivername {
    color: #000;
}
.car-detail-box .car-number {
    float: right;
    font-weight: 600 
}
.box-area {
    font-weight: bold;
    background-color: #eaeaea;
    padding: 10px 15px;
}
span.car-number.checkbox {
    position: relative;
    top: -19px;
}
span.car-number.checkbox label::before{
    color: #0093d4;
}
.car-detail-box .checkbox input[type="checkbox"] {
    position: absolute;
    top: 20px;
    left: -12px;
    z-index: 999;
    width: 21px;
    height: 21px;
    font-size: 33px;
}
.vehicle-form {
    padding-top: 20px;
}
.vehiclelist-table tbody tr td a {
    text-decoration: none;
}
.vehiclelist-table tbody tr td:last-child a {
    font-weight: 600;
}
.card-area a {
    font-weight: 600;
    font-size: 20px;
    display: block;
    background-color: #0093d4;
    color: #fff;
    padding: 20px 20px;
    border-radius: 2px;
    text-align: center;
}
.card-area a:hover {
    opacity: 0.9;
    text-decoration: none;
}
.card-area span {
    position: relative;
    top: -10px;
    padding-right: 30px;
}
.card-area .fa {
    font-size: 50px;
}
.card-head {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #ddd;
}
.card-head .box-header {
    display: inline-block;
    vertical-align: middle;
    line-height: 17px;
    font-size: 16px;
    font-weight: 700;
    padding-top: 4px;
}
.card-head .tools {
    float: right;
    margin-top: 0px;
}
.btn.btn-primary {
    background-color: #0d3a61;
    border-color: #0d3a61;
    font-weight: bold;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.card-box .card-body {
    padding: 0px;
}
table.table.table-striped.vehiclelists-table {
    margin: 0px;
}
.search-btn .btn.submit {
    border-radius: 0px 2px 2px 0px;
    box-shadow: none;
    border: 1px solid #ced4da;
    border-left: 0px;
}
.table thead th {
    font-size: 14px;
    color: #808080;
}
.show-item-list {
    float: left;
    padding-top: 8px;
}
.navigation .pagination {
    margin-bottom: 0px;
    float: right;
}
.table td, .table th {
    border: 0px;
}
@media only screen and (max-width: 600px){
    .contain{
        width: 100%;
        margin: 0px auto;
    }
    .pad-0{
        padding: 0px !important;
    }
    .bg-cover {
        background: url(../images/blur-bg.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }
    .table.vehiclelist-table thead th {
        display: none;
    }
    .vehiclelist-table tbody tr td:first-child a {
        color: #000;
    }
    .table.vehiclelist-table tbody td:nth-child(2), .table.vehiclelist-table tbody td:nth-child(3), .table.vehiclelist-table tbody td:nth-child(4){
        display: none;
    }
    .table.vehiclelist-table tbody tr td:last-child{
        text-align: right;
    }
    .form-area {
        width: 100%;
    }
}
 